.section-quem-somos {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.8rem;
}

.quem-somos-titles > h2 {
  width: 12vw;
  letter-spacing: 10%;
  color: var(--verde-claro);
  padding-bottom: 20px;
}

.quem-somos-titles > h1 {
  width: 33vw;
  font-size: 2.4rem;
  color: var(--verde-escuro);
  padding-bottom: 10px;
}

.quem-somos-titles > hr {
  width: 13.3vw;
  height: 1vh;
  border-radius: 20px;
  background-color: var(--verde-claro);
  margin-bottom: 40px;
}

.paragrath {
  width: 42vw;
  font-size: 1.1rem;
  color: var(--cor-paragrafo);
  padding-bottom: 50px;
  line-height: 1.4;
}

.quem-somos-img > img {
  width: 40vw;
  height: 70vh;
  border-radius: 100px;
}

@media (max-width: 1750px) {
  .section-quem-somos {
    margin-top: 80px;
    gap: 0;
  }

  .quem-somos-titles > hr {
    width: 220px;
    margin: 0 auto 40px;
  }

  .quem-somos-titles > h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }

  .quem-somos-titles > h1 {
    width: 75%;
    margin: 0 auto;
    text-align: center;
  }

  .paragrath-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .paragrath {
    width: 940px;
    font-size: 1.5rem;
    text-align: center;
  }

  .quem-somos-titles > h2 {
    width: 100%;
  }

  .quem-somos-img > img {
    display: none;
  }

  .section-quem-somos {
    justify-content: center;
  }
}

@media (max-width: 1050px) {
  .quem-somos-titles > hr {
    width: 220px;
    margin: 0 auto 40px;
  }

  .quem-somos-titles > h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }

  .quem-somos-titles > h1 {
    width: 645px;
    margin: 0 auto;
    text-align: center;
  }

  .paragrath {
    width: 700px;
  }
}

@media (max-width: 782px) {
  .quem-somos-titles > h1 {
    width: 580px;
  }
  .paragrath {
    width: 560px;
  }
}

@media (max-width: 620px) {
  .quem-somos-titles > h1 {
    width: 400px;
  }
  .paragrath {
    width: 420px;
  }
}
@media (max-width: 475px) {
   .quem-somos-titles > h1 {
    width: 300px;
    font-size: 1.6rem;
  }
  .quem-somos-titles > h2{
    font-size: 1.4rem;
  }
  .paragrath {
    width: 310px;
    font-size: 1.2rem;
  }
}