.FQA-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.FQA-cards {
  width: 420px;
  height: 620px;
  border-radius: 20px;
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.FQA-pergunta > p {
  color: var(--verde-claro);
  font-size: 1.6rem;
  font-weight: 600;
  max-width: 240px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
}

.FQA-respostas > p {
  color: var(--cor-paragrafo);
  font-size: 1.1rem;
  max-width: 320px;
  text-align: center;
  margin: 0 auto;
}

.FQA-title {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 5rem;
  color: var(--verde-escuro);
  padding-left: 2.5%;
}

@media (max-width: 1750px) {
  .FQA-title {
    margin-top: 20px;
    padding: 0 0 5rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
  }

  .FQA-cards {
    width: 95vw;
    height: 450px;
  }

  .FQA-pergunta > p {
    font-size: 2.2rem;
    max-width: 700px;
  }

  .FQA-respostas > p {
    font-size: 1.5rem;
    max-width: 700px;
    margin: 10px auto 0;
  }

  .FQA-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

@media (max-width: 900px) {
  .FQA-pergunta > p {
    max-width: 500px;
  }

  .FQA-respostas > p {
    max-width: 500px;
    margin: 10px auto 0;
  }
  .FQA-cards {
    height: 580px;
  }
}
@media (max-width: 650px) {
  .FQA-title {
    width: 100%;
    text-align: center;
  }
  .FQA-pergunta > p {
    max-width: 300px;
  }

  .FQA-respostas > p {
    max-width: 400px;
  }

  .FQA-cards {
    height: 700px;
  }
}
@media (max-width: 476px) {
  .FQA-title {
   font-size: 1.6rem;
  }
  .FQA-pergunta > p {
    font-size: 1.6rem;
    max-width: 300px;
  }

  .FQA-respostas > p {
    font-size: 1.2rem;
    max-width: 260px;
  }
  .FQA-cards {
    height: 660px;
  }
}
